#cart-title {
  max-width: 1440px;
  width: 100%;
  margin: 30px 0 20px 0;
  text-align: center;
  padding-bottom: 10px;
  color: #444;
}

#cart-container {
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.cart-items-box {
  max-width: 1440px;
  width: 90%;
  border: 1px solid #999;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 20px;
}

.cart-checkbox {
  width: 5%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-checkbox input {
  height: 20px;
  width: 20px;
}

/* info box */
.cart-info-box {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #aaa;
}

.cart-info-name-box {
  height: 100px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-info-box img {
  height: 100%;
  aspect-ratio: 1/1;
  margin-right: 10px;
}

.cart-product-name {
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 300px;
}

/* --price - quantity-- */
.price-quantity-box {
  width: 50%;
  max-width: 350px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.price-quantity-box span {
  margin: 0 0 0 30px;
}

.cart-product-price {
  font-size: 26px;
  color: red;
  margin-top: 10px;
}

/* --btn-- */
.cart-items-btn-box {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.cart-items-btn-box button {
  height: 30px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #aaa;
}
.cart-items-btn-box .remove {
  color: red;
}

/* quantity input box */
.quantity-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  height: 30px;
}
.quantity-input-container button {
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  position: relative;
}
.quantity-input-container button::before {
  content: "";
  position: absolute;
  height: 8%;
  width: 50%;
  background-color: black;
}
.add-quantity-btn::after {
  content: "";
  position: absolute;
  height: 8%;
  width: 50%;
  background-color: black;
  rotate: 90deg;
}
.quantity-input-container p {
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- bottom buy box -- */
#cart-bottom-buy-box {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0 30px 0;
}

#cart-bottom-buy-box .cart-checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart-bottom-buy-box .cart-checkbox {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.cart-purchase-btn-box .purchase {
  font-size: 22px;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;

  background-color: #fa887e;
  cursor: pointer;
  border-radius: 5px;
}

/* other product box */
#other-product-box-title {
  text-align: center;
  margin: 50px 0 0 0;
  color: #666;
}

#other-products-box {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
}


/* empty cart */
#empty-cart-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 1440px;
  margin: 0 0 50px 0;
}
#empty-cart-box img {
  width: 30%;
  aspect-ratio: 1/1;
}
#empty-cart-box h1 {
  margin: 20px 0 30px 0;
  color: #666;
}
#empty-cart-box button {
  font-size: 25px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  background-color: #fa887e;
  color: white;
  border: none;
  border-radius: 5px;
}

/* ------------------------ */
@media screen and (max-width: 1210px) {
  .cart-items-btn-box button {
    min-width: 210px;
  }
}

@media screen and (max-width: 1090px) {
  .price-quantity-box span {
    margin: 10px;
  }
}

@media screen and (max-width: 980px) {
  #cart-title {
    font-size: 20px;
  }
  .cart-info-name-box {
    font-size: 12px;
  }
  .cart-info-box img {
    height: 100px;
  }
  .cart-product-name {
    font-size: 16px;
  }
  .cart-product-price {
    font-size: 19px;
  }
  .items-title {
    font-size: 12px;
  }
  .quantity-input-container {
    height: 20px;
  }
  .cart-items-btn-box button {
    font-size: 10px;
    min-width: 160px;
  }

  /* --- */
  #cart-bottom-buy-box {
    justify-content: space-around;
  }
  #cart-bottom-buy-box > div {
    margin: 10px 20px 10px 20px;
  }
  /* --- */
  .cart-purchase-btn-box .purchase {
    font-size: 20px;
  }

  /* --- */
  #other-product-box-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 780px) {
  .price-quantity-box {
    width: auto;
  }
  .cart-items-box {
    flex-direction: column;
  }
  .cart-info-box {
    border: none;
    border-top: 1px solid #aaa;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .cart-checkbox {
    width: 100%;
    height: 30px;
  }

  .cart-purchase-btn-box .purchase {
    font-size: 16px;
  }

  #other-product-box-title {
    font-size: 20px;
  }

  #empty-cart-box h1 {
    font-size: 19px;
  }
  #empty-cart-box button {
    font-size: 15px;
  }
}
