#home-page > * {
  --theme-color: rgb(241, 241, 241);
  --home-2-banner-text-title: red;
  --search-bar-bg: white;
  --section-title: #aaa;
}

/* ----- home banner ----- */
#home-banner {
  width: 100%;
  max-width: 1440px;
  background-color: var(--theme-color);
  position: relative;
  margin: 20px 0 20px 0;
}

/* ----- home banner box 2 ---- */
#home-2-banner-box {
  width: 100%;
  max-width: 1440px;
  min-height: 80px;
  background-color: var(--theme-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.home-2-banner-item {
  height: 60px;
  width: 250px;
  display: grid;
  position: relative;
  margin: 10px 0 15px 0;
}
.home-2-banner-item-img {
  position: absolute;
  width: 50px;
  top: 7px;
  left: 10px;
}
.home-2-banner-item-p1 {
  color: var(--home-2-banner-text-title);
  font-size: 19px;
  position: relative;
  left: 80px;
  top: 5px;
  margin: 0 0 5px 0;
}
.home-2-banner-item-p2 {
  position: relative;
  left: 80px;
  top: 2px;
}

/* ----- home navigation 2 ----- */
#home-2-nav {
  width: 100%;
  max-width: 1440px;
  height: 55px;

  background-color: var(--theme-color);
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

/* ----- search box ----- */
#search-box {
  height: 40px;

  width: 60%;
  max-width: 600px;
  background-color: var(--search-bar-bg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border: 2px solid rgb(170, 170, 170);
  margin: 10px 0 10px 0;
  position: relative;
}
#search-input {
  background-color: var(--search-bar-bg);
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  position: relative;
}

/* ----- section-title ----- */
#section-title {
  height: 60px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  color: var(--section-title);
}

/* ----- home section ----- */
#home-section {
  width: 100%;
  max-width: 1440px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}

/* ----- aside ----- */
#home-sort-option {
  min-width: 230px;
  display: flex;

  background-color: var(--theme-color);
  position: relative;
  margin: 0 0 10px 0;
}
#home-sort-option > div {
  width: 230px;
}

#in-stock-p {
  margin: 5px 0px 0px 45px;
  cursor: pointer;
  transition: 0.3s;
}
#out-stock-p {
  margin: 5px 0px 0px 45px;
  color: #aaa;
  cursor: pointer;
}

#home-availability {
  color: rgb(51, 51, 51);
  margin: 30px 0 5px 25px;
}

/* ----- manufacturer filter ----- */
#manufacturer-filter {
  border-top: 1px solid #aaa;
  margin: 70px 20px 20px 20px;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
}

#manufacturer-filter span label {
  margin: 5px 0 5px 0;
  cursor: pointer;
  font-size: 15px;
  transition: .3s;
  position: relative;
  left: -20px;
}

.manufacturer-checkbox {
  margin-right: 10px;
  position: relative;
  top: 1px;
  opacity: 0;
  transition: .4s;
}
.manufacturer-checkbox:not(:checked) {
  transition: .1s;
}

.manufacturer-checkbox:checked {
  opacity: 1;
}
.manufacturer-checkbox:checked ~ label {
  transform: translateX(20px);
}

/* ----- price filter ----- */
#home-aside-price {
  margin: 30px 0 10px 25px;
  color: rgb(51, 51, 51);
}

#reset-filter-btn {
  height: 30px;
  width: 82%;
  margin: 10px 0 25px 20px;
  font-size: 17px;
}

/* ------ open and close sort box btn ----- */
#sort-option-open-btn {
  height: 100%;
  width: 90px;
  position: absolute;
  background-color: white;
  border: none;
  border-left: 1px solid #777;
  right: 0;
  opacity: 0;
  z-index: -2;
}

#sort-option-close-btn {
  height: 35px;
  width: 35px;
  position: absolute;
  border: none;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -2;
}
#sort-option-close-btn::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 20px;
  rotate: 45deg;
}
#sort-option-close-btn::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 20px;
  rotate: -45deg;
}

/* ----- hidden layer ----- */
#hidden-layer {
  position: fixed;
  background-color: #777;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 11;
}

.hidden-layer-off {
  z-index: 0;
  height: 0;
  width: 0;
}

/* ----- product item container ----- */
#paginate-container {
  flex-grow: 1;
}
#home-product-section {
  max-width: 1230px;
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

/* ------------------------------------------------ */

@media screen and (max-width: 850px) {
  #home-2-banner-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  #home-sort-option {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    height: 100%;
    width: 240px;
    transition: 0.3s;
  }

  #sort-option-open-btn {
    opacity: 1;
    z-index: 3;
    transition: 0.3s;
  }
  #sort-option-close-btn {
    opacity: 1;
    z-index: 2;
  }

  .sort-option-open {
    transform: translateX(0);
  }
  .sort-option-close {
    transform: translateX(300px);
  }

  .hidden-layer-on {
    z-index: 11;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  #home-section {
    flex-direction: column;
    align-items: center;
  }
  #sort-option-open-btn {
    position: relative;
    width: 25%;
  }

  #home-2-nav {
    justify-content: space-around;
  }
  #search-box {
    width: 75%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}
