/* home banner */
#home-banner {
  height: 500px;
  width: 1440px;
  background-color: var(--theme-color);
  position: relative;
  margin: 20px 0 20px 0;
}
/* home 2 banner box */
#home-2-banner-box {
  width: 1440px;
  height: 100px;
  background-color: var(--theme-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-2-banner-item {
  height: 60px;
  width: 250px;
  display: grid;
  position: relative;
}
.home-2-banner-item-img {
  position: absolute;
  width: 50px;
  top: 7px;
  left: 10px;
}
.home-2-banner-item-p1 {
  color: red;
  font-size: 19px;
  position: relative;
  left: 80px;
  top: 5px;
}
.home-2-banner-item-p2 {
  position: relative;
  left: 80px;
  top: 2px;
}

/* home 2 navigation */
#home-2-nav {
  width: 1440px;
  height: 60px;

  background-color: var(--theme-color);
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* search box */
#search-box {
  height: 45px;
  width: 600px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 2px solid rgb(170, 170, 170);
}
#search-input {
  height: 100%;
  width: 85%;
  margin-left: 10px;
  font-size: 18px;
  border: none;
  outline: none;
}
#search-btn {
  height: 35px;
  width: 60px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 13px;
  cursor: pointer;
  border: none;
  background-color: #cccccc;
}

/* home section */
#home-section {
  width: 1440px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* aside */
#home-sort-option {
  height: 260px;
  width: 230px;

  background-color: var(--theme-color);
  position: relative;
}

#home-sort-option p {
  margin: 5px 0px 0px 45px;
}

#price-input-box {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-around;
  margin-left: 18px;
}
#price-input-box p {
  margin-left: 0 !important;
}
#price-input-box input {
  height: 30px;
  width: 65px;
}
#price-sort-btn {
  height: 30px;
  width: 81%;
  margin: 10px 0 0 23px;
  font-size: 17px;
}
#home-availability {
  color: rgb(51, 51, 51);
  margin: 30px 0 5px 25px;
}
#home-aside-price {
  margin: 30px 0 10px 25px;
  color: rgb(51, 51, 51);
}
/* - */
#home-product-section {
  width: 1200px;

  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
