#service-page > * {
  --service-info-box-bg: white;
  --service-title-box-bg: white;
  --service-title: #555;
  --service-content: #555;
}

#service-page {
  width: 100%;
  padding-bottom: 5vw;
  max-width: 1440px;
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* -------- */
.service-info-box {
  width: 90%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  top: 0;
  animation-fill-mode: forwards;
  background-color: var(--service-info-box-bg);
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0 20px 0;
}

.service-title-box {
  aspect-ratio: 4/1;
  width: 50%;
  border-radius: 10px;
  background-color: var(--service-title-box-bg);
  position: relative;
  font-size: 1rem;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
.service-title-box img {
  aspect-ratio: 1/1;
  height: 40%;
  position: absolute;
  top: 10%;
}
.service-title-box p {
  font-size: 23px;
  position: absolute;
  top: 65%;
}

.content-title {
  font-weight: bold;
  font-size: 30px;
  color: var(--service-title);
  margin: 10px;
}
.content {
  font-size: 23px;
  color: var(--service-content);
  text-align: center;
}

/* ----- other service ----- */
#other-service-container {
  width: 100%;
  max-width: 1440px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
#other-service-container button {
  padding: 5px 10px 5px 10px;
  margin-top: 3%;
  font-size: 20px;
}

.black-hover-btn {
  position: relative;
  z-index: 5;
  color: black;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
}
.black-hover-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: black;
  transition: 0.3s;
}
.black-hover-btn:hover::after {
  width: 100%;
}
.black-hover-btn:hover {
  color: white;
}

/* ------------------------------------------- */
@media screen and (max-width: 1090px) {
  #service-page {
    top: 20px;
  }
  .service-title-box p {
    font-size: 13px;
  }
  .content-title {
    font-size: 16px;
  }
  .content {
    font-size: 13px;
  }
  #other-service-container h2 {
    font-size: 16px;
  }
  #other-service-container button {
    font-size: 14px;
  }
}
@media screen and (max-width: 520px) {
  .service-title-box p {
    font-size: 10px;
  }
  .content-title {
    font-size: 10px;
  }
  .content {
    font-size: 8px;
  }
  #other-service-container h2 {
    font-size: 10px;
  }
  #other-service-container button {
    font-size: 8px;
  }
}